<section id="about">
  <h2>A Kiwi Dev in Japan</h2>
  <p class="subtitle">Lovin' and livin' life as a full-stack Ruby on Rails developer in Japan.</p>
  <p>I moved to Japan at the end of July 2016 as part of the JET Programme. In September 2020, I decided to</p>
</section>
