<header class="sticky">
  <%= image_tag 'cheri2.JPG', alt: 'picture of cheri', class: 'banner' %>
  <a href="#" class="logo">Cheri.</a>
  <div class="toggle active"></div>
  <nav class="active">
    <ul id="close_nav">
      <li><%= link_to 'About', '#about' %></li>
      <li><%= link_to 'Projects', '#projects' %></li>
      <li><%= link_to 'Contact', '#contact' %></li>
    </ul>
  </nav>
</header>
