<header class="sticky">
  <%= image_tag 'cheri2.JPG', alt: 'picture of cheri', class: 'banner' %>
  <a href="#" class="logo">Cheri.</a>
  <div class="toggle active"></div>
  <nav class="active">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
