.project-name {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #0D5C63;

  &:hover {
    color: #F3A712;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .project-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 32px;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 600px) {
  .project-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .project-responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .project-responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
